<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Votre correction</h1>
        </div>
        <div class="correction padding">
            <p>1.Queres molho?</p>
            <p>2.Só há arvores no jardim.</p>
            <p>3.Eles não têm fósforos.</p>
            <p>4.Havia nuvens atrás da montanha.</p>
            <p>5.Não temos cadeiras suficiente para todos.</p>
            <p>6.Não quero mais chá.</p>
            <p>7.(Ela) comprou muitos livros.</p>
        </div>

        <div class="btnaccueil">
            <a class=" button icon-left ion-chevron-left button-outline button-calm" href="#/tab-accueil">Accueil</a>
        </div>
    </ion-content>
</ion-view>