<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Votre correction</h1>
        </div>
        <div class="correction padding">
            <p>1. No creo que <b>haga</b> ningún movimiento extraño, de todas formas debes estar atento.</p>
            <p>2. A Luis no le gustan los <b>guisantes</b>, por favor no los añadas al guiso.</p>
            <p>3. Que <b>diga</b> lo que quiera, de todas formas nos vamos al monte.</p>
            <p>4. Por favor, me lo <b>guardas</b> en tu congelador, es demasiado grande para el mío.</p>
            <p>5. Haz el favor de quitarte esa <b>gorra</b>, no te favorece en absoluto.</p>
            <p>6. El producto para <b>enjuagar</b> la boca que me recetó, me produce llagas.</p>
            <p>7. El acíbar es un producto <b>amargo</b>.</p>
            <p>8. Ahora <b>despliegue</b> los laterales de la tienda de campaña y verá su amplitud.</p>
            <p>9. Creo que tengo una espina de pescado clavada en la <b>garganta</b>.</p>
            <p>10. Creo que este <b>guiso</b> de atún no lo supera ningún cocinero.</p>
        </div>

        <div class="btnaccueil">
            <a class=" button icon-left ion-chevron-left button-outline button-calm" href="#/tab-accueil">Accueil</a>
        </div>
    </ion-content>
</ion-view>