<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Votre correction</h1>
        </div>
        <div class="correction">
            <p>1. They've sat on the grass <b>for</b> hours.</p>
            <p>2. She's been a doctor<b>since</b> 1968.</p>
            <p>3. He's shown us his house <b>since</b> we arrived !</p>
            <p>4. Chris has tried to find the ideal husband <b>for</b> years !</p>
            <p>5. They've gone the wrong way <b>since</b> the beginning.</p>
            <p>6. The weather has been gorgeous <b>for</b> two weeks.</p>
            <p>7. It hasn't rained <b>since</b> the beginning of October.</p>
            <p>8. She's been a drug-addict <b>for</b> five years.</p>
        </div>

        <div class="btnaccueil">
            <a class=" button icon-left ion-chevron-left button-outline button-calm" href="#/tab-accueil">Accueil</a>
        </div>
    </ion-content>
</ion-view>