<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Votre correction</h1>
        </div>
        <div class="correction padding">
            <p>1. ¡A mí, me gusta el <b>melón</b>. (la prononciation porte sur la syllabe : ON)</p>
            <p>2. Viene de <b>Brasil</b>. (la prononciation porte sur la syllabe : SIL)</p>
            <p>3. A mí, no me gustan los <b>sábados</b>. (la prononciation porte sur la syllabe : SA)</p>
            <p>4. Es una niña rica y mimada pero con muy buen <b>corazón</b>. (la prononciation porte sur la syllabe : ZON)</p>
            <p>5. Mi <b>papá</b> es alto.(la prononciation porte sur la syllabe :2è PA)</p>
            <p>6. ¿ <b>Cuántos</b> años tienes?(la prononciation porte sur la syllabe : CUA)</p>
            <p>7. Ambas <b>jóvenes</b> actrices son argentinas.(la prononciation porte sur la syllabe : JO)</p>
            <p>8. Mi materia preferida es <b>psicología</b>. (la prononciation porte sur la syllabe : GI)</p>
            <p>9. Voy a ver una <b>película</b>.(la prononciation porte sur la syllabe : LI)</p>
            <p>10. Tengo un <b>ídolo</b>.(la prononciation porte sur la syllabe : I)</p>
            <p>11. Mi deporte favorito es la <b>natación</b>.(la prononciation porte sur la syllabe : CION)</p>
            <p>12. Hace movimientos <b>sincrónicos</b>.(la prononciation porte sur la syllabe : CRO)</p>
            <p>13. Tiene un <b>hámster</b>.(la prononciation porte sur la syllabe : HAM)</p>
            <p>14. <b>Cómo</b> te llamas ?(la prononciation porte sur la syllabe : CO)</p>
            <p>15. Siempre quiero tener <b>razón</b>.(la prononciation porte sur la syllabe : ZON)</p>
        </div>

        <div class="btnaccueil">
            <a class=" button icon-left ion-chevron-left button-outline button-calm" href="#/tab-accueil">Accueil</a>
        </div>
    </ion-content>
</ion-view>