<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Votre correction</h1>
        </div>
        <div class="correction padding">
            <p>1. Nach <b>der</b> Schule darf ich ins Schwimmbad gehen.</p>
            <p>2. Was haben Sie gegen <b>Ihren</b> Onkel?</p>
            <p>3. Während <b>des</b> Winters sind die Tage kurz und kalt!</p>
            <p>4. Frau Werner kauft ihr Brot bei <b>diesem</b> Bäcker.</p>
            <p>5. Ich habe Geschenke für <b>die</b> Kinder meines Freundes gekauft.</p>
            <p>6. Erik ist heute zu <b>seinem</b> Onkel Karl gefahren.</p>
            <p>7. Anstatt <b>eines</b> Fahrrades habe ich ein Mofa gekauft!</p>
            <p>8. Die Schüler sind ohne <b>meine</b> Erlaubnis ausgegangen!</p>
            <p>9. Wir haben von <b>unserer</b> neuen Lehrerin gesprochen.</p>
            <p>10. Ich habe Ihren Brief durch <b>einen</b> Boten erhalten.</p>
            <p>11. Der Bäcker hat das Brot aus <b>dem</b> Korb genommen.</p>
            <p>12. Wegen <b>des</b> Regens sind wir am Nachmittag zu Hause geblieben.</p>
            <p>13. Ich habe meinen Bruder seit <b>seiner</b> letzten Prüfung kaum gesehen!</p>
            <p>14. Die Spieler müssen um <b>das</b> Feld laufen.</p>
            <p>15. Ich habe den Vater mit <b>seinem</b> Sohn auf der Straße gesehen.</p>
        </div>

        <div class="btnaccueil">
            <a class=" button icon-left ion-chevron-left button-outline button-calm" href="#/tab-accueil">Accueil</a>
        </div>
    </ion-content>
</ion-view>