<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Vos exercices</h1>
        </div>
        <div class="exos padding">
           <h4>Traduire les phrases suivantes en surveillant l'emploi des articles.</h4>

            <p>1.Veux-tu de la sauce (Molho)?</p>
            <label class="item item-input">
                <span class="input-label">Inscrivez votre réponse</span>
                <input type="text">
            </label><br/><br/>
            <p>2.Il n'y a seulement des arbres dans le jardin.</p>
            <label class="item item-input">
                <span class="input-label">Inscrivez votre réponse</span>
                <input type="text">
            </label><br/><br/>
            <p>3.Ils n'ont pas d'allumettes.</p>
            <label class="item item-input">
                <span class="input-label">Inscrivez votre réponse</span>
                <input type="text">
            </label><br/><br/>
            <p>4.Il y avait des nuages derrière la montagne.</p>
            <label class="item item-input">
                <span class="input-label">Inscrivez votre réponse</span>
                <input type="text">
            </label><br/><br/>
            <p>5.Nous n'avons pas assez de chaises pour tous.</p>
            <label class="item item-input">
                <span class="input-label">Inscrivez votre réponse</span>
                <input type="text">
            </label><br/><br/>
            <p>6.Je ne veux plus de thé.</p>
            <label class="item item-input">
                <span class="input-label">Inscrivez votre réponse</span>
                <input type="text">
            </label><br/><br/>
            <p>7.Elle a acheté beaucoup de livres.</p>
            <label class="item item-input">
                <span class="input-label">Inscrivez votre réponse</span>
                <input type="text">
            </label>
        </div>

        <div class="btncorrection">
            <a class=" button icon-right ion-chevron-right button-outline button-calm" href="#/correctionportugais">Correction</a>
        </div>

    </ion-content>
</ion-view>