<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Vos exercices</h1>
        </div>
        <div class="exos">
            <div>
                <p> 1. ¡A mí, me gusta el <select>
                    <option selected>mélon</option>
                    <option>melon</option>
                    <option>melón</option>
                </select>. (la prononciation porte sur la syllabe : ON) </p>
            </div>

            <div>
                <p>2. Viene de <select>
                    <option selected>Brázil</option>
                    <option>Brasíl</option>
                    <option>Brasil</option>
                </select>. (la prononciation porte sur la syllabe : SIL)</p>
            </div>

            <div>
                <p>3. A mí, no me gustan los <select>
                    <option selected>sabádos</option>
                    <option>sabadós</option>
                    <option>sábados</option>
                </select>. (la prononciation porte sur la syllabe : SA)</p>
            </div>

            <div>
                <p>4. Es una niña rica y mimada pero con muy buen <select>
                    <option selected>corázon</option>
                    <option>corazón</option>
                    <option>córazon</option>
                </select>. (la prononciation porte sur la syllabe : ZON)</p>
            </div>

            <div>
                <p>5. Mi  <select>
                    <option selected>papá</option>
                    <option>papa</option>
                    <option>pápa</option>
                </select>es alto.(la prononciation porte sur la syllabe :2è PA)</p>
            </div>

            <div>
                <p>6. ¿ <select>
                    <option selected>Cuantós</option>
                    <option>Cuántos</option>
                    <option>Cúantos</option>
                </select>años tienes?(la prononciation porte sur la syllabe : CUA)</p>
            </div>

            <div>
                <p>7. Ambas  <select>
                    <option selected>jovénes</option>
                    <option>jóvenes</option>
                    <option>jovenés</option>
                </select>actrices son argentinas.(la prononciation porte sur la syllabe : JO)</p>
            </div>

            <div>
                <p>8. Mi materia preferida es <select>
                    <option selected>psicólogia</option>
                    <option>psicologiá</option>
                    <option>psicología</option>
                </select>. (la prononciation porte sur la syllabe : GI)</p>
            </div>

            <div>
                <p>9. Voy a ver una <select>
                    <option selected>peliculá</option>
                    <option>pélicula</option>
                    <option>película</option>
                </select>.(la prononciation porte sur la syllabe : LI)</p>
            </div>

            <div>
                <p>10. Tengo un <select>
                    <option selected>idólo</option>
                    <option>idoló</option>
                    <option>idolo</option>
                </select>.(la prononciation porte sur la syllabe : I)</p>
            </div>

            <div>
                <p>11. Mi deporte favorito es la <select>
                    <option selected>nátacion</option>
                    <option>natacíon</option>
                    <option>natación</option>
                </select>.(la prononciation porte sur la syllabe : CION)</p>
            </div>

            <div>
                <p>12. Hace movimientos <select>
                    <option selected>sincrónicos</option>
                    <option>sincronicos</option>
                    <option>sincronícos</option>
                </select>.(la prononciation porte sur la syllabe : CRO)</p>
            </div>

            <div>
                <p>13. Tiene un <select>
                    <option selected>hámster</option>
                    <option>hamstér</option>
                    <option>hamster</option>
                </select>.(la prononciation porte sur la syllabe : HAM)</p>
            </div>

            <div>
                <p> 14.  <select>
                    <option selected>Cómo</option>
                    <option>Como</option>
                    <option>Comó</option>
                </select>te llamas ?(la prononciation porte sur la syllabe : CO)</p>
            </div>

            <div>
                <p>15. Siempre quiero tener <select>
                    <option selected>razón</option>
                    <option>rázon</option>
                    <option>razon</option>
                </select>.(la prononciation porte sur la syllabe : ZON)</p>
            </div>
        </div>

        <div class="btncorrection">
            <a class=" btncorrection button icon-right ion-chevron-right button-outline button-calm" href="#/correctionespagnol">Correction</a>
        </div>

    </ion-content>
</ion-view>