<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Vos exercices</h1>
        </div>
        <div class="exos padding">
            <div>
                <p>1. Nach <select>
                    <option selected>die</option>
                    <option>den</option>
                    <option>der</option>
                </select>   Schule darf ich ins Schwimmbad gehen.</p>
            </div>

            <div>
                <p>2. Was haben Sie gegen <select>
                    <option selected>Ihre</option>
                    <option>Ihrer</option>
                    <option>Ihren</option>
                </select> Onkel?</p>
            </div>

            <div>
                <p>3. Während <select>
                    <option selected>des</option>
                    <option>den</option>
                    <option>dem</option>
                </select> Winters sind die Tage kurz und kalt!</p>
            </div>

            <div>
                <p>4. Frau Werner kauft ihr Brot bei <select>
                    <option selected>diesem</option>
                    <option>dieser</option>
                    <option>diesen</option>
                </select> Bäcker.</p>
            </div>

            <div>
                <p>5. Ich habe Geschenke für <select>
                    <option selected>dem</option>
                    <option>die</option>
                    <option>das</option>
                </select> Kinder meines Freundes gekauft.</p>
            </div>

            <div>
                <p>6. Erik ist heute zu <select>
                    <option selected>sein</option>
                    <option>seinem</option>
                    <option>seinen</option>
                </select> Onkel Karl gefahren.</p>
            </div>

            <div>
                <p>7. Anstatt <select>
                    <option selected>eines</option>
                    <option>einen</option>
                    <option>ein</option>
                </select> Fahrrades habe ich ein Mofa gekauft!</p>
            </div>

            <div>
                <p>8. Die Schüler sind ohne <select>
                    <option selected>meinen</option>
                    <option>meine</option>
                    <option>mein</option>
                </select>Erlaubnis ausgegangen! </p>
            </div>

            <div>
                <p>9. Wir haben von <select>
                    <option selected>unserer</option>
                    <option>unsere</option>
                    <option>unser</option>
                </select>neuen Lehrerin gesprochen.</p>
            </div>

            <div>
                <p>10. Ich habe Ihren Brief durch <select>
                    <option selected>einen</option>
                    <option>eine</option>
                    <option>ein</option>
                </select>Boten erhalten.</p>
            </div>

            <div>
                <p>11. Der Bäcker hat das Brot aus <select>
                    <option selected>dem</option>
                    <option>der</option>
                    <option>den</option>
                </select>Korb genommen.</p>
            </div>

            <div>
                <p>12. Wegen <select>
                    <option selected>dem</option>
                    <option>der</option>
                    <option>den</option>
                </select>Regens sind wir am Nachmittag zu Hause geblieben.</p>
            </div>

            <div>
                <p>13. Ich habe meinen Bruder seit <select>
                    <option selected>seine</option>
                    <option>seinem</option>
                    <option>seiner</option>
                </select>letzten Prüfung kaum gesehen!</p>
            </div>

            <div>
                <p>14. Die Spieler müssen um <select>
                    <option selected>das</option>
                    <option>dem</option>
                    <option>den</option>
                </select>Feld laufen.</p>
            </div>

            <div>
                <p>15. Ich habe den Vater mit <select>
                    <option selected>seinen</option>
                    <option>seinem</option>
                    <option>sein</option>
                </select> Sohn auf der Straße gesehen.</p>
            </div>
        </div>
        </div>
        <div class="btncorrectionall">
            <a class=" btncorrection button icon-right ion-chevron-right button-outline button-calm" href="#/correctionallemand">Correction</a>
        </div>

    </ion-content>
</ion-view>