<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light">
            <h1 class="leçon title">Vos exercices</h1>
        </div>
        <div class="exos padding">
            <h4>Ecoutez la piste et écrivez les sons</h4>
            <div class="list card" ng-repeat="audio in audioTracks">
                <div class="item item-avatar">
                    <img src="http://findicons.com/files/icons/2711/free_icons_for_windows8_metro/512/audio_wave.png">
                    <h2>{{audio.title}}</h2>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="../audio/exo.mp3" ng-click="playTrack(audio.track, audio.key)">
                        <i class="icon ion-ios-play"></i>
                        Play
                    </a>
                    <a class="tab-item" href="#/exercicesespagnol" ng-click="stopTrack()">
                        <i class="icon ion-android-checkbox-blank"></i>
                        Stop
                    </a>
                </div>
            </div>

            <p>1. No creo que <select>
                <option selected>hagua</option>
                <option>haga</option>
                <option>haja</option>
            </select>  ningún movimiento extraño, de todas formas debes estar atento.</p>
            <p>2. A Luis no le gustan los  <select>
                <option selected>guisantes</option>
                <option>gisantes</option>
                <option>jisantes</option>
            </select> , por favor no los añadas al guiso.</p>
            <p>3. Que <select>
                <option selected>dija</option>
                <option>diga</option>
                <option>digua</option>
            </select> lo que quiera, de todas formas nos vamos al monte.</p>
            <p>4. Por favor, me lo <select>
                <option selected>juardas</option>
                <option>guárdas</option>
                <option>guardas</option>
            </select> en tu congelador, es demasiado grande para el mío.</p>
            <p>5. Haz el favor de quitarte esa <select>
                <option selected>jorra</option>
                <option>górra</option>
                <option>gorra</option>
            </select> , no te favorece en absoluto.</p>
            <p>6. El producto para <select>
                <option selected>enguajar</option>
                <option>enjuajar</option>
                <option>enjuagar</option>
            </select> la boca que me recetó, me produce llagas.</p>
            <p>7. El acíbar es un producto <select>
                <option selected>amargo</option>
                <option>amarjo</option>
                <option>amárgo</option>
            </select>.</p>
            <p>8. Ahora <select>
                <option selected>despliege</option>
                <option>despliegue</option>
                <option>despliegué</option>
            </select> los laterales de la tienda de campaña y verá su amplitud.</p>
            <p>9. Creo que tengo una espina de pescado clavada en la <select>
                <option selected>garganta</option>
                <option>jarganta</option>
                <option>garjanta</option>
            </select>.</p>
            <p>10. Creo que este <select>
                <option selected>guiso</option>
                <option>giso</option>
                <option>guíso</option>
            </select> de atún no lo supera ningún cocinero.</p>
        </div>

        <div class="btncorrectionesp">
            <a class=" btncorrection button icon-right ion-chevron-right button-outline button-calm" href="#/correctionespagnol">Correction</a>
        </div>

    </ion-content>
</ion-view>
