<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Vos exercices</h1>
        </div>
        <div class="exos">
            <div>
                <p>1. They've sat on the grass <select>
                <option selected>for</option>
                <option>since</option>
            </select>  hours.</p>
            </div>

            <div>
                <p>2. She's been a doctor <select>
                <option selected>for</option>
                <option>since</option>
            </select>  1968.</p>
            </div>

            <div>
                <p>3. He's shown us his house <select>
                <option selected>for</option>
                <option>since</option>
            </select>  we arrived !</p>
            </div>

            <div>
                <p>4. Chris has tried to find the ideal husband <select>
                <option selected>for</option>
                <option>since</option>
            </select> years !</p>
            </div>

            <div>
                <p>5. They've gone the wrong way <select>
                <option selected>for</option>
                <option>since</option>
            </select> the beginning.</p>
            </div>

            <div>
                <p>6. The weather has been gorgeous <select>
                <option selected>for</option>
                <option>since</option>
            </select> two weeks.</p>
            </div>

            <div>
                <p>7. It hasn't rained <select>
                <option selected>for</option>
                <option>since</option>
            </select> the beginning of October.</p>
            </div>

            <div>
                <p>8. She's been a drug-addict <select>
                <option selected>for</option>
                <option>since</option>
            </select> five years.</p>
            </div>
        </div>

        <div class="btncorrection">
            <a class=" btncorrection button icon-right ion-chevron-right button-outline button-calm" href="#/correctionanglais">Correction</a>
        </div>

    </ion-content>
</ion-view>