<ion nav-view id="templates/inscription.html" type="text/ng-template">
    <ion-view>
        <ion-content class="padding">
            <div class="bar bar-header bar-light" >
                <h1 class="title">Inscription</h1>
            </div>

            <form name="inscForm" class="formulaire2" novalidate>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Votre nom :</span>
                        <input type="text" ng-model="user.nom" name="uNom" ng-minlength="3" required>
                    </label><br/>
                    <div ng-messages="inscForm.uNom.$error">
                        <p ng-message="required">Ce champ est obligatoire</p>
                        <p ng-message="minlength">Votre nom est trop court</p>
                    </div>

                    <label class="item item-input">
                        <span class="input-label">Votre prénom :</span>
                        <input type="text" ng-model="user.prenom" name="uPrenom" ng-minlength="3" required>
                    </label><br/>
                    <div ng-messages="inscForm.uPrenom.$error">
                        <p ng-message="required">Ce champ est obligatoire</p>
                        <p ng-message="minlength">Votre prénom est trop court</p>
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Votre email :</span>
                        <input type="email" ng-model="user.email" name="uMail" required>
                    </label><br/>
                    <div ng-messages="inscForm.uMail.$error">
                        <p ng-message="required">Ce champ est obligatoire</p>
                        <p ng-message="email">Votre email est invalide</p>
                    </div>

                    <label class="item item-input">
                        <span class="input-label">Votre mot de passe:</span>
                        <input type="password" ng-model="user.password" name="uPassword" ng-minlength="8" required>
                    </label><br/>
                    <div ng-messages="inscForm.uPassword.$error">
                        <p ng-message="required">Ce champ est obligatoire</p>
                        <p ng-message="minlength">Votre mot de passe est trop court</p>
                    </div>

                    <button class="button button-calm button-block" type="submit" ng-click="save(user)">Valider</button><br/>
                </div>
            </form>
                <a class="button button-outline button-energized icon ion-log-in" href="#/tab/login"> Se connecter</a>
        </ion-content>
    </ion-view>
</ion nav-view>
