<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light">
            <h1 class="leçon title">Votre leçon d'espagnol</h1>
        </div>
        <div class="detaillecon padding">
            <h2>Écriture des sons GA - GUE - GUI - GO - GU</h2>
            <div class="list card" ng-repeat="audio in audioTracks">
                <div class="item item-avatar">
                    <img src="http://findicons.com/files/icons/2711/free_icons_for_windows8_metro/512/audio_wave.png">
                    <h2>{{audio.title}}</h2>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="../audio/lecon.mp3" ng-click="playTrack(audio.track, audio.key)">
                        <i class="icon ion-ios-play"></i>
                        Play
                    </a>
                    <a class="tab-item" href="#/leconespagnol" ng-click="stopTrack()">
                        <i class="icon ion-android-checkbox-blank"></i>
                        Stop
                    </a>
                </div>
            </div>
        </div>

        <div class="btncoursEsp">
            <a class="  button icon-left ion-chevron-left button-outline button-calm" href="#/tab/cours">Cours</a>
        </div>
        <div class="btnexercices">
            <a class="  button icon-right ion-chevron-right button-outline button-calm" href="#/exercicesanglais">Exercices</a>
        </div>

    </ion-content>
</ion-view>
