<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Votre leçon d'anglais</h1>
        </div>
        <div class="detaillecon leconanglais">
            <h2>Since ou for ?</h2>
                <h3>Since</h3>
                    <p>Dans un contexte temporel, since signifie depuis. Il marque l'origine, en étant suivi d'une date ou d'un événement marquant.</p><br/>
                    <p>- I haven't talked to her since.<br/>
                    (Je ne lui ai pas reparlé depuis.)<br/>

                    - She hasn't gone to Italy since 2001.<br/>
                    (Elle n'est pas retournée en Italie depuis 2001.)</p><br/>

                <p>Since s'utilise avec le present perfect (continu ou pas), ou le past perfect (si le point de départ se situe dans le passé) :<br/>
                <p>- She has been playing the piano since a quarter to twelve.
                (Elle joue du piano depuis midi moins le quart.)</p><br/>

                <p>La tournure it is since sert d'emphase pour le complément de temps :<p>
                <p>- It's ten years since she retired.
                (Cela fait dix ans qu'elle a pris sa retraite.)</p>

                <p>Enfin, since then signifie depuis lors.</p>

                <p>Il peut signifier puisque mais perd dans ce cas sa fonction temporelle :</p>

                <p>- Since you haven't been efficient enough, you're fired.
                (Puisque vous n'avez pas été suffisamment efficace, vous êtes viré.)</p>

                <h3>For</h3>

                <p>Dans un usage temporel, for exprime la durée. Il est suivi d'une estimation de temps ou d'un indice de temps :</p>

                <p>- I haven't watched TV for a long time.
                (Cela fait bien longtemps que je n'ai pas regardé la télé.)</p>

                <p>- He hasn't scored a goal for three months.
                (Il n'a pas marqué un but depuis trois mois.)</p>

                <p>A la forme affirmative, for est souvent sous-entendu :</p>

                <p>- I've been waiting for more than an hour.

                (Cela fait plus d'une heure que j'attends.)</p>

                <p>Avec le prétérit, for se traduit par pendant :</p>

                <p>- He played rugby for five years.
                (Il a joué au rugby pendant cinq ans.)</p>

                <p>For signifie aussi pour , il n'a plus de connotation temporelle :</p>

                <p>- This job is not for me.
                (Ce travail n'est pas fait pour moi.)</p>

                <p>De la même façon, il signifie également 'car' dans la langue écrite, précédé d'une virgule :</p>

                <p>- They went to the refreshment-room, for they had twenty minutes to wait.
                (Ils allèrent se désaltérer au buffet, car ils avaient vingt minutes d'attente.)</p>
        </div>

        <div class="btncours">
            <a class="  button icon-left ion-chevron-left button-outline button-calm" href="#/tab/cours">Cours</a>
        </div>
        <div class="btnexercices">
            <a class="  button icon-right ion-chevron-right button-outline button-calm" href="#/exercicesanglais">Exercices</a>
        </div>

    </ion-content>
</ion-view>
