<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Votre leçon d'allemand</h1>
        </div>
        <div class="detaillecon">
            <h2>Les prépositions</h2>
            <h4>Prépositions qui régissent toujours l'accusatif</h4>
            <table class="table1">
                <tr>
                    <th>
                        allemand
                    </th>
                    <th>
                        français
                    </th>
                </tr>
                <tr>
                    <td>
                        durch
                    </td>
                    <td>
                        par,à travers
                    </td>
                </tr>
                <tr>
                    <td>
                        für
                    </td>
                    <td>
                        pour
                    </td>
                </tr>
                <tr>
                    <td>
                        gegen
                    </td>
                    <td>
                        contre
                    </td>
                </tr>
                <tr>
                    <td>
                        ohne
                    </td>
                    <td>
                        sans
                    </td>
                </tr>
                <tr>
                    <td>
                        um
                    </td>
                    <td>
                        autour de
                    </td>
                </tr>
            </table>

            <h4>Prépositions qui régissent toujours le datif</h4>
            <table class="table2">
                <tr>
                    <th>
                        allemand
                    </th>
                    <th>
                        français
                    </th>
                </tr>
                <tr>
                    <td>
                        aus
                    </td>
                    <td>
                        de, par,hors
                    </td>
                </tr>
                <tr>
                    <td>
                        bei
                    </td>
                    <td>
                        chez, près de, auprès
                    </td>
                </tr>
                <tr>
                    <td>
                        mit
                    </td>
                    <td>
                        avec
                    </td>
                </tr>
                <tr>
                    <td>
                        nach
                    <td>
                        après, selon
                    </td>
                </tr>
                <tr>
                    <td>
                        seit
                    </td>
                    <td>
                        depuis
                    </td>
                </tr>
                <tr>
                    <td>
                        von
                    </td>
                    <td>
                        de, par, de chez
                    </td>
                </tr>
                <tr>
                    <td>
                        zu
                    </td>
                    <td>
                        à, chez
                    </td>
                </tr>
            </table>

            <h4>Prépositions qui régissent toujours le génitif</h4>
            <table class="table3">
                <tr>
                    <th>
                        allemand
                    </th>
                    <th>
                        français
                    </th>
                </tr>
                <tr>
                    <td>
                        statt / anstatt
                    </td>
                    <td>
                        au lieu de
                    </td>
                </tr>
                <tr>
                    <td>
                        während
                    </td>
                    <td>
                        pendant
                    </td>
                </tr>
                <tr>
                    <td>
                        wegen
                    </td>
                    <td>
                        à cause de
                    </td>
                </tr>
            </table>
        </div>
        <div class="btncours">
            <a class=" button icon-left ion-chevron-left button-outline button-calm" href="#/tab/cours">Cours</a>
        </div>
        <div class="btnexercices">
            <a class=" button icon-right ion-chevron-right button-outline button-calm" href="#/exercicesallemand">Exercices</a>
        </div>

    </ion-content>
</ion-view>
