<ion-view>
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Votre leçon d'espagnol</h1>
        </div>
        <div class="detaillecon">
            <h2>Accent tonique et écrit</h2>

            <p>El acento escrito (l'accent écrit)/La sílaba tónica (syllabe tonique)</p><br/>
            <p>En espagnol, il existe des accents toniques (on les entend) et des accents graphiques (on les entend et on les écrit)</p><br/>
            <p>Les mots terminés par une voyelle ou par la consonne 'N' ou la consonne  'S' sont accentués toniquement sur l'avant-dernière syllabe<br/>
            exemple: importante, joven, pantalones</p>

            <p>Les mots terminés par une consonne sauf 'N' et 'S' sont accentués toniquement(avec) la voix sur la dernière syllabe<br/>
            exemple: animal, David, profesor</p>

            <p>Les mots qui ne respectent pas ces deux règles ont un accent écrit(l'accent graphique)<br/>
            exemple: López, fútbol, telefónico</p>
        </div>

        <div class="btncours">
            <a class=" btncours button icon-left ion-chevron-left button-outline button-calm" href="#/tab/cours">Cours</a>
        </div>
        <div class="btnexercices">
            <a class=" button icon-right ion-chevron-right button-outline button-calm" href="#/exercicesespagnol">Exercices</a>
        </div>

    </ion-content>
</ion-view>
