<ion-view xmlns:http="http://www.w3.org/1999/xhtml">
    <ion-content>
        <div class="bar bar-header bar-light" >
            <h1 class=" leçon title">Votre leçon de portugais</h1>
        </div>
        <div class="detaillecon padding">
            <h2>Les articles</h2>
            <table class="tablePortugais">
                <tr>
                    <th>
                        français
                    </th>
                    <th>
                        portugais
                    </th>
                </tr>
                <tr>
                    <td>
                        le
                    </td>
                    <td>
                        o
                    </td>
                </tr>
                <tr>
                    <td>
                        un, une
                    </td>
                    <td>
                        um
                    </td>
                </tr>
                <tr>
                    <td>
                        un (nombres)
                    </td>
                    <td>
                        um
                    </td>
                </tr>
                <tr>
                    <td>
                        certains
                    </td>
                    <td>
                        alguns
                    </td>
                </tr>
                <tr>
                    <td>
                        peu
                    </td>
                    <td>
                        poucos
                    </td>
                </tr>
                <tr>
                    <td>
                        <br/>
                    </td>
                    <td>
                        <br/>
                    </td>
                </tr>
                <tr>
                    <td>
                        le livre
                    </td>
                    <td>
                        o livro
                    </td>
                </tr>
                <tr>
                    <td>
                        les livres
                    </td>
                    <td>
                        os livros
                    </td>
                </tr>
                <tr>
                    <td>
                        un livre
                    </td>
                    <td>
                        um livro
                    </td>
                </tr>
                <tr>
                    <td>
                        un livre (nombres)
                    </td>
                    <td>
                        um livro
                    </td>
                </tr>
                <tr>
                    <td>
                        des livres
                    </td>
                    <td>
                        alguns livros
                    </td>
                </tr>
                <tr>
                    <td>
                        quelques livres
                    </td>
                    <td>
                        poucos livros
                    </td>
                </tr>
            </table>
        </div>
        <div class="btncours">
            <a class=" button icon-left ion-chevron-left button-outline button-calm" href="#/tab/cours">Cours</a>
        </div>
        <div class="btnexercicesPort">
            <a class=" btnexercices button icon-right ion-chevron-right button-outline button-calm" href="#/exercicesportugais">Exercices</a>
        </div>

    </ion-content>
</ion-view>
