<ion-modal-view>
    <ion-content class="padding">
        <div class="bar bar-header bar-light" >
            <h1 class="title">Contact</h1>
        </div>

        <form name="contactForm" class=" formulaire3" ng-submit="envoi()" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Votre nom :</span>
                    <input type="text" ng-model="contact.nom" name="cNom" ng-minlength="3" required>
                </label><br/>
                <div ng-messages="contactForm.cNom.$error">
                    <p ng-message="required">Ce champ est obligatoire</p>
                    <p ng-message="minlength">Votre nom est trop court</p>
                </div>
                <label class="item item-input">
                    <span class="input-label">Votre prénom :</span>
                    <input type="text" ng-model="contact.prenom" name="cPrenom" ng-minlength="3" required>
                </label><br/>
                <div ng-messages="contactForm.cPrenom.$error">
                    <p ng-message="required">Ce champ est obligatoire</p>
                    <p ng-message="minlength">Votre prénom est trop court</p>
                </div>
                <label class="item item-input">
                    <span class="input-label">Votre email :</span>
                    <input type="email" ng-model="contact.email" name="cMail" required>
                </label><br/>
                <div ng-messages="contactForm.cMail.$error">
                    <p ng-message="required">Ce champ est obligatoire</p>
                    <p ng-message="email">Votre email est invalide</p>
                </div>
                <label class="item item-input">
                    <span class="input-label">Objet du message:</span>
                    <input type="text" ng-model="contact.objet" name="cObjet" ng-minlength="10" required>
                </label><br/>
                <div ng-messages="contactForm.cObjet.$error">
                    <p ng-message="required">Ce champ est obligatoire</p>
                    <p ng-message="minlength">L'objet de votre message est trop court</p>
                </div>
                <label class="item item-input">
                    <span class="input-label">Votre message:</span>
                    <input type="text" ng-model="contact.message" name="cMessage" ng-minlength="20" required>
                </label><br/>
                <div ng-messages="contactForm.cMessage.$error">
                    <p ng-message="required">Ce champ est obligatoire</p>
                    <p ng-message="minlength">Votre message doit comporter au moins 20 caractères</p>
                </div>
                <button class="button button-calm button-block" type="submit">Valider</button><br/>
            </div>
        </form>


    </ion-content>
</ion-modal-view>