<ion-view>
    <ion-content>
        <div class=" bar bar-header bar-light" >
            <h1 class="title">Alertes</h1>
        </div>
        <div class="textAlerte text-justify">
            <p>Si vous souhaitez recevoir des alertes une heure avant chaque session pour le mois à venir, veuillez cliquer sur le bouton ci-dessous:</p>
        </div>

        <div class="btnalerte">
            <button class="button button-outline button-calm" ng-click="add()">Recevoir les notifications</button>
        </div>
    </ion-content>
</ion-view>